.investor-accordion {
    border: 1px solid #888B8D !important;
    border-radius: 6px !important;
}

.investor-accordion .accordion-button {
    padding-left: 20px;
}

.investor-accordion .accordion-body {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.accordion-button::after {
    background-image: url("./components/InvestorUs/assets/chevrondown.svg") !important;
    padding-right: 30px;
}